[tool.ruff]
line-length = 90
lint.extend-select = ["I"]
target-version = "py311"
fix = true

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-line-length = "dynamic"